.marketInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  background-color: darkblue;
  color: white;
}

.marketInfoContainer {
  flex: 1;
  padding: 5rem;
  margin: 0;
}

.marketType {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
}

.marketText {
  font-size: 1.2rem;
  text-align: center;
}
