* {
  font-family: 'Nanum Gothic', sans-serif;
}

header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

nav {
  margin-left: auto;
}

.nav_ul {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none;
}

.nav_li {
  margin: 1.5rem;
  font-weight: 600;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover,
a:active {
  text-decoration: overline;
  color: red;
}
